@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Cormorant Garamond', serif;
  }
  
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
}